@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');

*{
    box-sizing: border-box;
}
html{
    font-family: 'Saira', sans-serif;

    /* for laptops only not phones */
    
    /* background-image: url('neon_bg.jpg');  */
    background-image: url('planetHD.jpg'); 

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    height: 100vh; 
}

a{
    text-decoration: none;
    color: cyan; 
}

.containAll {
    display: grid;
    grid-gap: 6px;
    grid-template-areas: 
    'myHeader myHeader myHeader myHeader'
    'myNavbar myNavbar myNavbar myNavbar'
    'myContent myContent myContent mySidebar '
    'myFooter  myFooter myFooter myFooter';
}

header{
    
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    color: white;
    text-align: center;
    text-transform: uppercase;
    grid-area: myHeader;
    height: 60px;
    font-size: 2.5em;
    border-radius: 6px;
    font-weight: bolder;
}
header a {
    color: inherit;
}

.navbar {
    grid-area: myNavbar;

}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* background: #2155CD; blue border bad*/
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    border-radius: 40px;
    justify-content: space-evenly;
    
}
.navbar a {
    color: white;
    display: inline-block;
    padding: 4px 8px;
    
    /* border: 1px solid white;  */
    /* border on all four sides */
    
    border-bottom: 1px solid white;
    border-radius: 10px 10px 0px 0px;
    margin: 1px 6px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    /* position: relative; */
    width: 150px;
    
}

.navbar a:hover {
    
    background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
    color: #1c1c1c;
    font-weight: bolder;
}

.content {
    grid-area: myContent;
    /* border: 3px double black; */
    /* border-radius: 6px; */
    color: #FCE2DB;
    justify-self: center;
    
}

aside{
    grid-area: mySidebar;

    /* width: 25vw; if use this then set @media rule for mobile devices , make width: 95vw or something */
    
    /* border: 3px double black; */
    border-radius: 6px;
    padding: 10px;
    /* margin: 5px 5px;  */
}

.heading_aside{
    text-transform:uppercase;
    color: white;
    margin-top: 5px;
    text-align: center;

}

aside a{
    display: block;
    color: white;
    margin: 8px 0px;
    padding: 4px 1px;
    text-decoration: none;
    border: 1px solid whitesmoke;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    border-radius: 5px 5px 3px;
    text-align: center;
}

aside a:hover{
    background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%); /* BEST for hover*/
    color: #1c1c1c;
    font-weight: bolder;
}

/* calculator */
.calculator {
    position: relative;
    width: 300px;
    border: 3px solid black;
    margin: 30px auto;
    border-radius: 5px;
    background: #1c1c1c;

    /* animation: linear;
    animation-name: calcSlide;
    animation-duration: 4s; */

    /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); */
    /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    /* padding: 50px; */
    /* box-shadow: h-shadow v-shadow blur spread color; */
    /* box-shadow: 2px 2px 2px 2px rgba(0,0,0,1); */
}
input[type=text]{
    position: relative;
    display: block;
    width: 90%; /* change this and add box-sizing: border-box; in wild card (*)  */
    margin: 12px auto 0px; /* remove the last auto, its unnecessary*/
    font-size: 20px;
    text-align: center;
    border: 1px solid #0099FF; /*she commented this later, you can uncomment it in your own version*/
    background-color: #4285f4;
}

input[type=button]{
    color: black;
    position: relative;
    background-color: #80868b ;
    /* width: 20%; make it 25% and border-box in wild card */
    margin: 2%;

    width: 20%; /*make it 25% and border-box in wild card*/
    /* margin: 5px 6px; */
    /* margin-inline-start: 12px; */
    /* margin-inline-end: 12px ; */
    /* margin-left: 3px; */


    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 20px;
    /* font-weight: bold; */
    border-radius: 10px; 
    /* box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.7); */
}


input[type=button]:hover{
    background-color: #8c8c8c;

}

/* calculator end */

footer {
    background: black;
    color: white;
    text-align: center;
    grid-area: myFooter;
    opacity: 0.7;
}

/* these links are for contact.html */
.contactLinks a{
    color: black;
    border: 1px solid wheat;
    border-radius: 6px;
    height: 30px;
    width: 200px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%); /* best for non hover */
    position: relative;
    left: 10px;

}
.contactLinks a:hover{
    background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%); /* BEST */
    color: black;
    font-weight: bolder;
}

/* @media (max-width: 600px) and (orientation:portrait){} */
/* @media (max-width: 600px) and (orientation:landscape){ */



@media screen and (max-width: 600px){
    html{
        height: initial; /* important */
        background-image: none; /*used to unset image from html to set image in body for mobile devices only*/
    }
    body {
        background-image: url('planet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .navbar ul {
        flex-direction: column;
        border-radius: 6px;
    }
    .containAll {
        grid-template-columns: auto;
        grid-template-areas: 
        'myHeader'
        'myNavbar'
        'myContent'
        'mySidebar'
        'myFooter';
    }
    .navbar a{
        width: 90vw;
    }
    .navbar{
        justify-self: center;
        
    }

}
/* 
@keyframes calcSlide {
    0% {  left:0px; top:0px;   }
    100% {  left:auto; top:auto;    }
  } */
